.val{
  --highlight-color-focused:transparent;
  --highlight-height:0;
  --highlight-color-invalid:#000;
  --highlight-color-invalid:#ddd;

border-radius: 20px;
border: 2px solid #B8B8B8;
margin:10px

}
